<!DOCTYPE html>
<html lang="en">
<title>utternace tester</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/bundle.js"></script>
<style>
  .container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "left right"
  }
</style>

<body class="pl4 bg-light-gray avenir">
  <h1 class="navy f1">alexa-utterances</h1>
  <section id="app" class="container w-100 ph4 black-80">
    <div class="pv2">
      <label class="f2 navy db mb-3">dictionary</label>
      <input type="text" class="input-reset f6 ba b--light-silver black-80 bg-white pa3 lh-solid w-25 br2-ns"
        placeholder="add dictionary name" v-model=dictionaryKey />
      <input type="text" class="input-reset f6 ba b--light-silver black-80 bg-white pa3 lh-solid w-50 br2-ns"
        placeholder="add dictionary items (comma separated)" v-model="dictionaryValue" />
      <button type="button"
        class="button-reset db ph3 pv2 f6 white fw1 small-caps tracked bg-animate bg-navy hover-bg-gold white pointer mt1 br2"
        v-on:click="addTo('dictionary')">add</button>
    </div>
    <div class="pv2">
      <div v-if="Object.keys(dictionary).length">
        <label class="f2 dark-green db mb-3">dictionaries</label>
        <ul class="list bg-white pl0 ml0 mw6 ba b--light-silver br3">
          <todo-item v-for="item in prettyDictionary" v-bind:todo="item" :key="item.id"
            @delete="onDeleteItem('dictionary', $event)">
          </todo-item>
        </ul>
      </div>
    </div>
    <div class="pv2">
      <label class="f2 navy db mb-3">template</label>
      <input type="text" class="input-reset db f6 ba b--light-silver black-80 bg-white pa3 lh-solid w-75 br2-ns"
        placeholder="add template string" v-model="template" v-on:keyup.enter="addTo('template')" />
      <button type="button"
        class="button-reset ph3 pv2 f6 white fw1 small-caps tracked bg-animate bg-navy hover-bg-gold white pointer mt1 br2"
        v-on:click="addTo('template')">add</button>
    </div>
    <div class="pv2">
      <div v-if="templates.length">
        <label class="f2 dark-green db mb-3">templates</label>
        <ul class="list bg-white pl0 ml0 mw6 ba b--light-silver br3">
          <todo-item v-for="item in templates" v-bind:todo="item" :key="item.id"
            @delete="onDeleteItem('template', $event)">
          </todo-item>
        </ul>
      </div>
    </div>
    <div class="pv2 tc w-75">
      <button v-on:click="generate" type="button"
        class="button-reset ph3 pv2 f2 white fw1 small-caps tracked bg-animate bg-dark-pink hover-bg-purple pointer br2 bn">generate</button>
    </div>
    <div class="pv2">
      <ul class="list bg-white pl0 ml0 mw6 ba b--light-silver br3" v-if="output.length">
        <li class="ph3 pv3 bb b--light-silver" v-for="item in output">
          {{ item }}
        </li>
      </ul>
    </div>
  </section>
</body>
<script>
  Vue.component('todo-item', {
    props: ['todo'],
    template: `<li class="ph3 pv2 bb b--light-silver">{{ displayText }}
          <button v-on:click="$emit('delete', todo)" class="fr bg-white bn navy pt0" type="button">x</button>
        </li>`,
    computed: {
      displayText(obj) {
        if (obj.todo.text) {
          return obj.todo.text;
        }

        console.log(obj);
      }
    }
  });

  Vue.component('')

  const app = new Vue({
    el: '#app',
    data: {
      slot: '',
      slots: [],
      template: '',
      templates: [],
      dictionaryValue: '',
      dictionaryKey: '',
      dictionary: {},
      output: [],
      index: 0
    },
    computed: {
      // a computed getter
      prettyDictionary() {
        // `this` points to the vm instance

        return Object.keys(this.dictionary).map(key => {
          return {
            id: key,
            text: `${key}: ${this.dictionary[key]}`
          }
        });
      }
    },
    methods: {
      generate() {
        this.output = [];

        this.templates.forEach(item => {
          this.output = this.output.concat(window.utterances(item.text, {}, this.dictionary));
        });
      },
      onDeleteItem(filter, input) {
        if (filter === 'template') {
          this.templates = this.templates.filter(item => item.id !== input.id);
          return;
        } else if (filter === 'dictionary') {
          Vue.delete(this.dictionary, input.id);
        }
      },
      addTo(place) {
        if (place === 'dictionary') {
          if (!this.dictionaryValue || !this.dictionaryKey) {
            return;
          }

          Vue.set(this.dictionary, this.dictionaryKey, this.dictionaryValue.replace(/[\'\"\‘\’\“\”\[\]]/g, '').split(','));

          this.dictionaryKey = '';
          this.dictionaryValue = '';
        } else if (place === 'template') {
          if (!this.template) {
            return;
          }
          this.templates.push({ id: this.index, text: this.template });
          this.index = this.index + 1;
          this.template = '';
        }
      }
    }
  });
</script>

</html>
