{
  "deploy_settings": {
    "default": {
      "skill_id": "",
      "was_cloned": false,
      "merge": {},
      "resources": {
        "lambda": [
          {
            "alexaUsage": [
              "custom/default"
            ],
            "functionName": "",
            "handler": "vote_skill.HANDLER",
            "runtime": "python3.6"
          }
        ]
      }
    }
  }
}
