{
    "extends": "agrc",
    "rules": {
        "prefer-const": [
            "error",
            {
                "destructuring": "any",
                "ignoreReadBeforeAssign": false
            }
        ]
    }
}
