{
  "skillId": "",
  "locale": "en-US",
  "type": "text",
  "userInput": [
    "open utah voting assistant",
    "what is my house district",
    "who represents me",
    "tell me more about my senator",
    "tell me more about my representative"
  ]
}
