{
  "skillId": "",
  "locale": "en-US",
  "type": "text",
  "userInput": [
    "open utah voting assistant",
    "what is my house district",
    "who represents me",
    "tell me more about my senator",
    "tell me more about my representative",
    "how many senators does utah have",
    "how many republican senators are there in the legislature",
    "when will the 2020 session be held",
    "when was the 2003 session"
  ]
}
