{
  "skillId": "",
  "locale": "en-US",
  "type": "text",
  "userInput": [
    "open utah voting assistant",
    "who represents me",
    "who is my state senator",
    "tell me more about my senator",
    "how many legislators does Utah have",
    "how many democrat senators are there"
  ]
}
