{
  "skillId": "",
  "locale": "en-US",
  "type": "text",
  "userInput": [
    "open utah voting assistant",
    "when was the 2018 session",
    "when is the session",
    "when will the 2020 session be held"
  ]
}
